#service {
  margin-top: 0px;
}

#chat-icon {
  position: fixed;
  bottom: 86px;
  right: 26px;
  z-index: 10000;
  background-color: white;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#chat-icon:hover {
  transform: rotate(15deg);
  transition: all ease 0.8s;
}
#chat-icon.active {
  visibility: visible;
  opacity: 1;
}
body::-webkit-scrollbar {
  display: none;
}
* {
  user-select: none;
}
